<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/xip-bd</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    
    <!-- Xeración e actualización automática de tablas -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- Xestión automática do contexto -->
    <property name="current_session_context_class">thread</property>
        
    <!-- Clases a persistir (deben estar correctamente anotadas) -->
    
    <mapping class="model.Ciudadano"/>
    <mapping class="model.Tarea"/>
    <mapping class="model.Usuario"/>
    <mapping class="model.Recibo"/>
    <mapping class="model.RecibosCategoria"/>
    
  </session-factory>
</hibernate-configuration>
